@media (max-width: 480px) {
    .detail-wrapper {
        display: flex;
        flex-direction: column;
        padding: 3% 3%;
    }

    .detail-video {
        position: relative;
        width: 100%;
        height: 30vh;
        padding: 0;
        margin-bottom: 15px;
    }

    .detail-left {
        width: 100%;
    }

    .detail-left-top {
        height: 264px;
    }

    .poster-container {
        width: 50%;
    }

    .detail-container {
        width: 50%;
        padding: 0 0% 0 3%;
    }

    .detail-container h1 {
        font-size: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .movie-overview {
        -webkit-line-clamp: 2;
        text-align: left;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .movie-date,
    .movie-rating {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .genres {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin-bottom: 15px;
    }

    .genre-item {
        width: auto;
        margin-right: 0;
        font-size: 14px;
        padding: 2px 12px 2px 12px;
    }

    .trailer-btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .play-icon {
        width: 20px;
        height: 20px;
    }

    .detail-right {
        width: 100%;
        height: fit-content;
    }

    .detail-right h2 {
        margin-bottom: 15px;
    }

    .review-section {
        padding: 15px 0;
    }

    .review-section h2 {
        margin-bottom: 15px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .detail-wrapper {
        display: flex;
        flex-direction: column;
        padding: 3% 3%;
    }

    .detail-video {
        position: relative;
        width: 100%;
        height: 50vh;
        padding: 0;
        margin-bottom: 15px;
    }

    .detail-left {
        width: 100%;
    }

    .detail-left-top {
        height: 400px;
    }

    .poster-container {
        width: 45%;
    }

    .detail-container {
        width: 55%;
        padding: 0 0% 0 3%;
    }

    .detail-container h1 {
        font-size: 32px;
    }

    .movie-overview {
        -webkit-line-clamp: 4;
        text-align: left;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .movie-date,
    .movie-rating {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .genres {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin-bottom: 15px;
    }

    .genre-item {
        width: auto;
        margin-right: 0;
        font-size: 14px;
        padding: 2px 12px 2px 12px;
    }

    .trailer-btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .play-icon {
        width: 20px;
        height: 20px;
    }

    .detail-right {
        width: 100%;
        height: fit-content;
    }

    .detail-right h2 {
        margin-bottom: 15px;
    }

    .review-section {
        padding: 15px 0;
    }

    .review-section h2 {
        margin-bottom: 15px;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
    .detail-wrapper {
        display: flex;
        flex-direction: column;
        padding: 3% 3%;
    }

    .detail-video {
        position: relative;
        width: 100%;
        height: 50vh;
        padding: 0;
        margin-bottom: 15px;
    }

    .detail-left {
        width: 100%;
    }

    .detail-left-top {
        height: 400px;
    }

    .poster-container {
        width: 35%;
    }

    .detail-container {
        width: 65%;
        padding: 0 0% 0 3%;
    }

    .detail-right {
        width: 100%;
        height: fit-content;
    }

    .detail-right h2 {
        margin-bottom: 15px;
    }

    .side-movie-container{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        width: 100%;
    }

    .review-section {
        padding: 15px 0;
    }

    .review-section h2 {
        margin-bottom: 15px;
    }
}

@media (min-width: 901px) and (max-width: 1152px) {
    .detail-wrapper {
        padding: 3% 3%;
    }

    .poster-container {
        width: 35%;
    }

    .detail-container {
        width: 65%;
        padding: 0 3%;
    }

    .detail-video {
        height: 55vh;
    }
}