@media (max-width: 480px) {
    .home-div {
        padding: 0 3%;
    }

    .section-header h2 {
        margin: 5% 0;
    }

    .movie-list {
        grid-template-columns: repeat(2, 2fr);
        gap: 12px;
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .home-div {
        padding: 0 3%;
    }

    .section-header h2 {
        margin: 5% 0;
    }

    .movie-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 900px) {
    .home-div {
        padding: 0 3.5%;
    }

    .movie-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
        width: 100%;
    }

    .section-header h2 {
        margin: 3% 0;
    }
}

@media (min-width: 901px) and (max-width: 1152px) {
    .home-div {
        padding: 0 3.5%;
    }

    .movie-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
        width: 100%;
    }

    .section-header h2 {
        margin: 3% 0;
    }
}