.movie-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.movie-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    width: fit-content;
}

h2{
    color: white;
}