.movie-card{
    width: 200px;
    height: 350px;
}

.movie-link{
    display: flex;
    flex-direction: column;
}

.movie-card img{
    width: 200px;
    height: 300px;
    border-radius: 12px;
}

.movie-title{
    font-size: 14px;
    text-decoration: solid;
}